alias ta='tmux a -d'
alias deconda='conda deactivate'
alias untar='tar -xvf'
alias du='du -sh'
alias df='df -h'
alias mv='mv -i'
alias rm='rm -I'
alias l='ls -alrtFh --color'
alias ll='la -alFh --color'
alias la='ls -A --color'
alias jobs='jobs -l' # show PID
alias curl='curl -fsSL' # curl -LOC -
