[user]
	name = Luchao Qi
	email = lc.qi@outlook.com
[commit]
  	template = ~/.gitmessage
[core]
	editor = vi
[init]
	# https://pre-commit.com/#automatically-enabling-pre-commit-on-repositories
	templateDir = ~/.git-template
